body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  height: 100vh;
  background: #9c835f;
}

.navigation {
  width: 570px;
  margin-left: 5px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.back-btn a {
  color: #724c21;
  text-decoration: none;
  font-size: 72px;
  font-weight: 700;
  margin: 0 15px;
}

.title {
  font-size: 1.4em;
  color: #f9b23d;
}

.title h2 {
  margin: 0;
}

.logo img {
  width: 70px;
}

.box-choice {
  display: grid;
  gap: 10px;
}

.box-choice img {
  width: 65%;
  aspect-ratio: 1/1;
  object-fit: contain;
}

.box-choice .box {
  width: 165px;
  height: 165px;
  /* border: 1px solid white; */
  display: grid;
  place-items: center;
  border-radius: 20px;
}

.player .box-choice .box,
.middle-game img {
  cursor: pointer;
}

.name {
  font-size: 2em;
  text-align: center;
  margin-top: 0;
  margin-bottom: 20px;
}

.game {
  width: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.middle-game {
  align-self: center;
  display: grid;
  justify-items: center;
  font-weight: 700;
}

.versus {
  font-size: 6.5em;
  color: #bd0000;
}

.middle-game img {
  position: absolute;
  width: 75px;
  bottom: 5%;
}

.middle-game img:active {
  transform: rotate(-90deg);
  transition: 100ms;
}

.result {
  position: absolute;
  transform: rotate(-28deg);
  z-index: 1;
  font-size: 1.5rem;
}

/* result game */

.draw,
.win,
.lose {
  display: none;
  place-items: center;
  width: 11.25em;
  height: 6.9em;
  border-radius: 10px;
  box-shadow: 0px 0px 20px 0px black;
  color: white;
  position: absolute;
  top: -20px;
  left: -170px;
}

.draw {
  color: black;
  background-color: #f9b23d;
}

.win {
  background-color: #035b0c;
}
.lose {
  background-color: red;
}

/* responsive breakpoint */
@media screen and (max-width: 992px) {
  .navigation {
    width: 450px;
    margin-left: 0;
  }

  .back-btn a {
    font-size: 65px;
  }

  .title {
    font-size: 1.2em;
  }

  .logo img {
    width: 60px;
  }

  .name {
    font-size: 1.8em;
    margin-top: 5px;
    margin-bottom: 10px;
  }

  .game {
    width: 65%;
  }

  .versus {
    font-size: 5.5em;
  }

  .result {
    font-size: 1.35rem;
  }

  .draw,
  .win,
  .lose {
    top: -25px;
    left: -150px;
  }
}

@media screen and (max-width: 768px) {
  .navigation {
    width: 400px;
  }

  .back-btn a {
    font-size: 60px;
    margin: 0 10px;
  }

  .title {
    font-size: 1em;
  }

  .logo img {
    width: 55px;
  }

  .box-choice img {
    width: 60%;
  }

  .box-choice .box {
    width: 160px;
    height: 160px;
  }

  .name {
    font-size: 1.6em;
    margin-top: 10px;
    margin-bottom: 5px;
  }

  .game {
    width: 75%;
  }

  .versus {
    font-size: 5em;
  }

  .middle-game img {
    width: 65px;
    bottom: 3%;
  }

  .result {
    font-size: 1.25rem;
  }

  .draw,
  .win,
  .lose {
    top: -20px;
    left: -140px;
  }
}

@media screen and (max-width: 576px) {
  .navigation {
    width: 330px;
    padding-top: 5px;
  }

  .back-btn a {
    font-size: 45px;
    margin: 0 5px;
  }

  .title {
    font-size: 0.9em;
  }

  .logo img {
    width: 50px;
  }

  .box-choice img {
    width: 55%;
  }

  .box-choice .box {
    width: 145px;
    height: 145px;
  }

  .name {
    font-size: 1.3em;
  }

  .game {
    width: 95%;
  }

  .versus {
    font-size: 3.5em;
  }

  .middle-game img {
    width: 60px;
  }

  .result {
    font-size: 1.15rem;
  }

  .draw,
  .win,
  .lose {
    top: -30px;
    left: -120px;
  }
}
