body {
    font-family: Arial !important;
}

/* section main screen */
.first-section {
    background-image: url(assets/main-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 135.5vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.navbar-custom {
    background-color: #000000c0;
    text-transform: uppercase;
    width: auto;
    font-size: 15px;
}

.title-custom:hover {
    color: #FFB548 !important;
}

.content-first-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.content-first-section h1 {
    text-transform: uppercase;
    font-size: 5.5rem;
    margin-top: 2.4rem;
    margin-bottom: 2rem;
}

.content-first-section p {
    text-transform: capitalize;
    font-size: 1.8rem;
    margin-bottom: 2rem;
}

.btn-custom {
    margin-top: 2.5rem;
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: bold;
    background-color: #FFB548;
    padding: 0.5em 3.5em;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 0px 5px 5px #0000005e;
}

.btn-custom:hover {
    background-color: #ffa011;
    color: white;
}

.btn-custom:active {
    background-color: black;
    color: #FFB548;
    box-shadow: none;
}
.scroll-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2rem;
    padding-top: 8rem;
    color: white;
    text-transform: uppercase;
}
/* end mainscreen */

/* section game options */
.second-section {
    background-image: url(assets/the-games-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 150vh;
    display: flex;
    justify-content: space-evenly;
    padding: 16rem 6rem 0rem 6rem;
}

.title-the-games {
    color: white;
}

.title-the-games h2 {
    font-size: 4rem;
    text-transform: uppercase;
}

.title-the-games p {
    text-transform: capitalize;
    font-size: 1.8rem;
}

div.slideshow {
    margin-top: 4.1em;
}

.carousel-custom img {
    height: 29rem;
    padding: 0em 6em;
    width: 50rem;
}

.slideshow-custom {
    width: 60rem;
}
/* end section game options */

/* section game features */
.third-section {
    background-image: url(assets/features.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 135vh;
}

.box-features {
    display: flex;
    flex-direction: column;
    padding-top: 12rem;
    margin-left: 55rem;
    margin-right: 10rem;
    padding-bottom: 15rem;
    color: white;
    font-family: Arial;
}

.title-features {
    margin-bottom: 3rem;
    font-weight: 100;
}

.title-features h3 {
    font-size: 1.7rem;
    text-transform: capitalize;
}

.title-features h2 {
    font-size: 3.2rem;
    text-transform: uppercase;
}

.step {
    position: relative;
    z-index: 999;
    min-height: 1em;
    color: white;
}

.step .title {
    line-height: 1.5em;
    text-transform: uppercase;
    color: #FFB548;
}

.caption {
    font-size: 1em;
}

.step + .step {
    margin-top: 1.5em
}

.step > div:first-child {
    position: static;
    height: 0;
}

.step > div:not(:first-child) {
    margin-left: 1.5em;
    padding-left: 1em;
}

/* Circle */
.circle {
    background: none;
    position: relative;
    width: 1.5em;
    height: 1.5em;
    line-height: 1em;
    border-radius: 100%;
    color: #fff;
    text-align: center;
    box-shadow: 0 0 0 2px #fff;
}

/* Vertical Line */
.circle:after {
    content: ' ';
    position: absolute;
    display: block;
    top: -34px;
    right: 50%;
    bottom: 1px;
    left: 50%;
    /* height: 100%; */
    width: 1.5px;
    transform: scale(1, 2);
    transform-origin: 50% -100%;
    background-color: white;
    z-index: 1;
}

.step:last-child .circle:after {
    display: none
}

.step:nth-child(3) .circle:after {
    display: none
}

.step.step-active .circle {
    background-color: #ffffff;
}
/* end game features */

/* section system require */
.fourth-section {
    background: radial-gradient(33.26% 45% at 64.32% 47.1%, rgba(255, 255, 255, 0) 3.36%, rgba(0, 0, 0, 0) 19.22%, #080A0B 99.74%),url(assets/requirements.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 135vh;
    color: white;
}

.fourth-section .title {
    padding-top: 2rem;
    text-align: center;
    text-transform: capitalize;
}

.container-requirement {
    display: flex;
    flex-direction: column;
    width: 35rem;
    margin-left: 3rem;
    padding: 0 3rem;
}

.container-requirement h2 {
    font-size: 4.2rem;
    text-transform: uppercase;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

table {
    width: 40rem;
}

table.requirements td {
    border: #97979775;
    border-style: solid;
    border-width: 1px;
    padding: 15px;
    width: 20rem;
}

.requirements h4 {
    text-transform: uppercase;
    color: #FFB548;
    font-size: 1.5em;
}

.requirements p {
    font-size: 1.2em;
}
/* end-section system require */

/* section top scores */
.fifth-section {
    background-image: url(assets/top-score-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 150vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.top-score {
    color: white;
    width: 22rem;
}

.top-score h2 {
    font-size: 3.7em;
    text-transform: uppercase;
    margin-bottom: 0.5em;
}

.top-score p {
    font-size: 1.1em;
}

.top-score button {
    text-transform: capitalize;
    font-weight: bold;
    width: 16em;
    height: 4em;
    border-radius: 0.25rem;
    background: linear-gradient(181deg, #FFB548 0%, #F3AF34 99.52%);
    margin-top: 2em;
}

.top-score button:hover {
    color: white;
    background: #ff9900;
    box-shadow: 0px 0px 5px 5px #ffffff33;
}

.wrap-card {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 30px 0px;
    width: 40rem;
}

.box-card:nth-child(2) {
    align-self: start;
}

.box-card:nth-child(3) {
    align-self: center;
}

.box-card {
    border-radius: 0.625rem;
    background: #202020;
    padding: 13px;
    width: 25.5rem;
    height: 11.5rem;
}

.box-card .profile-card {
    display: flex;
    flex-direction: row;
    background-image: url(assets/ellipse-orange.png);
    background-repeat: no-repeat;
    background-size: 3.3rem;
    background-position-x: 5px;
}

.profile-card .card-img {
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

.user-info {
    margin-left: 1.5em;
}

.user-info h4 {
    color: #FFB548;
    font-size: 1.5em;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
    margin-bottom: 0;
}

.user-info p {
    color: #FFF;
    opacity: 0.5;
    font-size: 1.125em;
    font-style: normal;
    font-weight: 400;
}

.twt-img {
    height: 15px;
    width: 16px !important;
}

.quote-card h5 {
    color: #FFF;
    font-size: 1.125em;
}

.quote-card p {
    color: #FFF;
    font-size: 0.875em;
    opacity: 0.5;
}
/* end top scores */